@import url('../node_modules/normalize.css/normalize.css');
@import url('./modules/generic.css');
@import url('./modules/typography.css');

/**
* ==================================
* Resumé styles
* ==================================
*/
.header {
    display: grid;
    grid-gap: var(--grid-gutter);
    grid-template-columns: 1fr 4fr;
    padding: var(--grid-gutter);
}

.header__portrait-image {
    margin: 0 auto auto auto;
}

.header__portrait-image img {
    border-radius: 50%;
    max-width: 18em;
    width: 100%;
}

.header__name {
    margin-bottom: 0;
    margin-top: 0;
}

.header__tagline {
    color: var(--color-gray--dark);
    margin-bottom: 1.2em;
}

.experience-card {
    background-color: white;
    margin: 0.6em;
}
main {
    .typography--body1 + .typography--body1 {
        margin-top: 0.8em;
    }
}

@media print {
    @page {
        margin: 0.3cm;
    }
    a {
        color: var(--mdc-theme--primary);
        text-decoration: none;
    }
}
