@import url('../node_modules/normalize.css/normalize.css');
@import url('./modules/generic.css');
@import url('./modules/typography.css');

/**
* ==================================
* Resumé styles
* ==================================
*/

/**
* ------------------
* Header
* ------------------
*/
.header-grid {
    border-bottom: 1px solid var(--color-gray--mid);
    display: grid;
    grid-gap: var(--spacing);
    grid-template-columns: 1fr 4fr;
    margin: var(--spacing);
    padding: var(--spacing) 0;
}

.header__portrait-image {
    margin: 0 auto auto auto;
    position: relative;
}

.header__portrait-image img {
    border-radius: 50%;
    max-width: 18em;
    min-width: 10em;
    width: 100%;
}

.header__name {
    margin-bottom: 0.1em;
    margin-top: 0;
}

.header__tagline {
    color: var(--color-gray--dark);
    margin-bottom: 1.2em;
}

.header__tagline span {
    display: block;
}

/**
* ------------------
* Main
* ------------------
*/
.main-grid {
    display: grid;
    grid-gap: calc(4 * var(--spacing--small));
    grid-template-columns: 2fr 1fr;
    margin: var(--spacing);
}

.main-grid .typography--body1 + .typography--body1 {
    margin-top: var(--spacing--small);
}

.main__section + .main__section {
    border-top: 1px solid var(--color-gray--mid);
    padding-top: var(--spacing);
}

/**
* ------------------
* Card
* ------------------
*/
.card {
    padding-bottom: var(--spacing);
    padding-top: var(--spacing);
}

.card__body {
    border-left: 1px solid var(--color-gray--mid);
    margin-top: calc(var(--spacing) / 2);
    padding-left: 16px;
}

.card__body + .card__body {
    margin-top: var(--spacing);
}

.card__body__subsection + .card__body__subsection {
    margin-top: var(--spacing--small);
}

.time--small {
    font-size: 0.68rem;
    line-height: 1.4rem;
}

/**
* ------------------
* List
* ------------------
*/
.list {
    padding-left: var(--spacing--small);
}

/**
* ------------------
* Sidebar
* ------------------
*/
.sidebar .card__body {
    border: 0;
    padding-left: 0;
}

.sidebar .card {
    padding-top: var(--spacing--small);
}

/**
* ------------------
* Responsive styles
* ------------------
*/
@media (max-width: 750px) {
    .header-grid {
        grid-template-columns: 1fr 4fr;
        text-align: left;
    }

    .main-grid {
        grid-template-columns: 1fr;
    }

    .header__portrait-image img {
        max-width: 12em;
    }
}

@media (min-width: 1100px) {
    .header__tagline {
        max-width: 70%;
    }
}

/**
* ------------------
* Print styles
* ------------------
*/
@media print and (min-width: 10px) {
    :root {
        --font-size--default: 14px;
    }

    .header-grid {
        grid-template-columns: 1fr 4fr;
        margin-bottom: var(--spacing);
        text-align: left;
    }

    .header__main {
        display: grid;
        grid-column-gap: calc(3 * var(--spacing--small));
        grid-template-columns: 4fr 3fr;
    }

    .header__subheader {
        grid-column: 1/-1;
        grid-row: 1/1;
    }

    .header__tagline {
        font-size: 90%;
    }

    .header__details__legend {
        display: none;
    }

    .header__portrait-image img {
        max-width: 16em;
    }

    .main-grid {
        grid-template-columns: 2fr 1fr;
    }

    [aria-labelledby='oazis'],
    [aria-labelledby='personal-skills'] {
        border-top: 0 !important;
        page-break-before: always;
    }

    a {
        text-decoration: none;
    }

    @page {
        margin: 0 0.5cm 0.5cm 0.5cm;
    }
}
